<div id="main-wrapper" [ngClass]="{ 'no-sidebar': !isLoggedIn() }">
  <app-header></app-header>
  <span *ngIf="isLoggedIn()">
    <app-side-bar [displayUserInfo]="dispString"></app-side-bar>
  </span>
  <div
    id="content-wrapper"
    [ngClass]="{ 'complaint-wrapeer-bg': !isLoggedIn() }"
  >
    <!-- bill-pay -->

    <div [ngClass]="{ 'col-sm-10 col-sm-offset-1': !isLoggedIn() }">
      <div class="page-heading">{{ "Pay bill" | translate }}</div>
      <div
        class="billing-sec margin_top20 padding_bottom10 no-padding-l no-padding-r"
      >
        <div class="panel-body bil-pay-panel">
          <form>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <div class="form-group top">
                  <label>
                    Account Number
                  </label>
                  <div class="form-group">
                    <div *ngIf="!isLoggedIn()">
                      <input
                        [(ngModel)]="accountNumber"
                        name="accountNumber"
                        type="text"
                        class="form-control-plaintext"
                        required
                      />
                    </div>
                    <div class="row">
                      <div *ngIf="isLoggedIn()" class="col-sm-6">
                        <select
                          required
                          *ngIf="!userAccountsLoder && userAccounts.length > 0"
                          [(ngModel)]="accountNumber"
                          name="accountNumber"
                          class="form-control"
                        >
                          <option value="" selected>
                            {{ "Select Account Number" | translate }}</option
                          >
                          <option
                            value="{{ user.account_number }}"
                            *ngFor="let user of userAccounts"
                            >{{ user.account_number }}</option
                          >
                        </select>
                        <select
                          required
                          *ngIf="!userAccountsLoder && userAccounts.length == 0"
                          [(ngModel)]="accountNumber"
                          name="accountNumber"
                          class="form-control"
                        >
                          <option value="" selected>{{
                            "Select Account Number" | translate
                          }}</option>
                        </select>
                        <div *ngIf="userAccountsLoder" class="fieldLoding">
                          Loding...
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <button
                          class="blue-btn"
                          (click)="getBillAccountDetails()"
                        >
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="isAccountDetailsFound && !accountDetailsLoader">
                <div class="col-lg-6 col-sm-6">
                  <div class="form-group">
                    <label>
                      Account Name
                    </label>
                    <input
                      [(ngModel)]="billing.accountName"
                      name="accountName"
                      type="text"
                      class="form-control-plaintext"
                      id="staticEmail2"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <div class="form-group">
                    <label>
                      Bill Amount
                    </label>
                    <input
                      [(ngModel)]="billing.bill_amount"
                      name="bill_amount"
                      type="text"
                      class="form-control-plaintext"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="form-group">
                    <label>
                      Account Number
                    </label>
                    <input
                      [(ngModel)]="billing.accountNumber"
                      name="billingAccountNumber"
                      type="text"
                      class="form-control-plaintext"
                      id="staticEmail2"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="form-group">
                    <label class="min">
                      Due Date
                    </label>
                    <input
                      [(ngModel)]="billing.due_date"
                      name="due_date"
                      type="text"
                      class="form-control-plaintext"
                      id="staticEmail2"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="form-group">
                    <label>
                      Payble Amount
                    </label>
                    <input
                      [(ngModel)]="billing.payable_amount"
                      name="payable_amount"
                      type="text"
                      class="form-control-plaintext"
                      id="staticEmail2"
                      disabled
                    />
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <div class="form-group">
                    <button class="blue-btn">Pay Now</button>
                  </div>
                </div>
              </div>
              <div class="rows" *ngIf="accountDetailsLoader">
                <div class="spinner box-spinner">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
              </div>
              <!-- <div *ngIf="!isAccountDetailsFound && !accountDetailsLoader">
                <div
                  class="text-center font-12  field_not_found"
                  style="margin-top:-92px;"
                  *ngIf="
                    accountDetailsLoader == false &&
                    isAccountDetailsFound == false
                  "
                >
                  <img src="../assets/images/no_data.png" />{{
                    "Currently billing detials not found." | translate
                  }}
                  <br />
                  {{
                    "Provide your valid Account no. in Account Number field showing above and then click on View Button to fetch billing details"
                      | translate
                  }}
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
      <ul class="dash-box-list" *ngIf="isAdvertDataFound">
        <li class="dash-box-li rows offer-li">
          <div class="offer-section">
            <div
              class="text-content"
              *ngIf="advertisementData[0]?.type == 'text'"
            >
              {{ advertisementData[0].add_val }}
            </div>
            <div
              class="image-ads"
              *ngIf="advertisementData[0]?.type == 'image'"
            >
              <!-- <img src="/assets/images/SNP_3094702_en_v0 - Copy.png" alt="" /> -->
              <img src="{{ adimagurl }}{{ advertisementData[0]?.add_val }}" />
              <!-- {{advertisementData[0].add_val}}  -->
            </div>
            <div
              class="iframe-ads"
              *ngIf="advertisementData[0]?.type == 'google_ad'"
            >
              <!-- <img src="{{adimagurl}}{{advertisementData[0].add_val}}"/> -->
              <!-- {{advertisementData[0].add_val}}  -->

              <div id="afscontainer1"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="isLoggedIn()" id="main-menu-bg"></div>
  </div>
  <app-footer></app-footer>
</div>
