<div id="main-menu" role="navigation">
  <div id="main-menu-inner">
    <div class="dropdown account-dropdown user-account-no">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        data-toggle="dropdown"
      >
        {{ displayUserInfo }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" *ngIf="isAccountDataFound == true">
        <li
          *ngFor="let acc of accountData"
          [ngClass]="{ active: acc.account_number == accountNumber }"
        >
          <a
            style="cursor:pointer;"
            (click)="redirectoDashBoard(acc.account_number, acc.id)"
            >{{ acc.account_number }}</a
          >
        </li>
      </ul>
    </div>
    <ul class="navigation">
      <li
        id="li0"
        [ngClass]="{
          openDropdown:
            currentUrl == '/manageaccount' || currentUrl == '/addaccount'
        }"
        (click)="removeCss($event)"
      >
        <a routerLink="/manageaccount">
          <div class="menu-icons i-user"></div>
          <span class="mm-text" id="0">{{'account'| translate}}</span>
        </a>
      </li>
      <li
        id="li1"
        [ngClass]="{ openDropdown: currentUrl == '/dashboard' }"
        (click)="removeCss($event)"
      >
        <a class="" routerLink="/dashboard">
          <div class="menu-icons i-dashboard"></div>
          <span class="mm-text" id="1">{{"dashboard" | translate}}</span>
        </a>
      </li>
      <li
        
        id="li2"
        [ngClass]="{
          openDropdown:
            currentUrl == '/profile' || currentUrl == '/update-profile'
        }"
        (click)="removeCss($event)"
      >
        <a  routerLink="/profile" >
          <div class="menu-icons i-settings"></div>
          <span class="mm-text" id="2">{{"manage profile" | translate}}</span>
        </a>
        <!-- <ul class="mmc-dropdown-delay animated fadeInLeft">
          <li>
            <a
              tabindex="-1"
             
              routerLinkActive="DropdownActive"
              [routerLinkActiveOptions]="{ exact: true }"
              ><span class="mm-text">Profile</span></a
            >
          </li>
        </ul> -->
      </li>
      <li id="li3" [ngClass]="{ openDropdown: currentUrl == '/consumption' }">
        <a routerLink="/consumption">
          <div class="menu-icons i-consumptions"></div>
          <span class="mm-text" id="3">{{"consumption" | translate}}</span>
        </a>
      </li>
      <li
        id="li4"
        [ngClass]="{ openDropdown: currentUrl == '/billing' }"
        *ngIf="selectedAccountData.isPrepaid == 'No'"
      >
        <a routerLink="/billing">
          <div class="menu-icons i-rupee"></div>
          <span class="mm-text" id="4">{{"billing" | translate}}</span>
        </a>
      </li>
      <li
        id="li5"
        [ngClass]="{ openDropdown: currentUrl == '/recharge-history' }"
        *ngIf="selectedAccountData.isPrepaid == 'Yes'"
      >
        <a class="" routerLink="/recharge-history">
          <div class="menu-icons i-rupee"></div>
          <span class="mm-text" id="5">Recharge-History</span>
        </a>
      </li>
      <li
        class="m-dropdown mm-dropdown"
        id="li6"
        [ngClass]="{
          openDropdown:
            currentUrl == '/service-request' ||
            currentUrl == '/view-all-service-request' ||
            currentUrl == '/service-request-details' ||
            currentUrl == '/new-service-connection'
        }"
        (click)="removeCss($event)"
      >
        <a href="javascript:void(0);">
          <div class="menu-icons i-service-request"></div>
          <span class="mm-text" id="6">{{'servicerequests'| translate}}</span>
        </a>
        <ul class="mmc-dropdown-delay animated fadeInLeft">
          <li>
            <a
              tabindex="-1"
              routerLink="/new-service-connection"
              routerLinkActive="DropdownActive"
              [routerLinkActiveOptions]="{ exact: true }"
              ><span class="mm-text">{{'newserviceconnection' | translate}}</span></a
            >
          </li>
          <li>
            <a
              tabindex="-1"
              routerLink="/view-all-service-request"
              routerLinkActive="DropdownActive"
              [routerLinkActiveOptions]="{ exact: true }"
              ><span class="mm-text">{{'viewservicerequest' | translate}}</span></a
            >
          </li>
          <li>
            <a
              tabindex="-1"
              routerLink="/service-request"
              routerLinkActive="DropdownActive"
              [routerLinkActiveOptions]="{ exact: true }"
              ><span class="mm-text">{{'registerservicerequests' | translate}}</span></a
            >
          </li>
        </ul>
      </li>
      <li
        class="m-dropdown mm-dropdown"
        id="li7"
        [ngClass]="{
          openDropdown:
            currentUrl == '/complaints' ||
            currentUrl == '/view-all-complaints' ||
            currentUrl == '/complaint-request-details'
        }"
        (click)="removeCss($event)"
      >
        <a href="javascript:void(0);">
          <div class="menu-icons i-complaints"></div>
          <span class="mm-text" id="7">{{'complaints'| translate}}</span>
        </a>
        <ul class="mmc-dropdown-delay animated fadeInLeft">
          <li>
            <a
              tabindex="-1"
              routerLink="/view-all-complaints"
              routerLinkActive="DropdownActive"
              [routerLinkActiveOptions]="{ exact: true }"
              ><span class="mm-text">{{'viewcomplaints' | translate}}</span></a
            >
          </li>
          <li>
            <a
              tabindex="-1"
              routerLink="/complaints"
              routerLinkActive="DropdownActive"
              [routerLinkActiveOptions]="{ exact: true }"
              ><span class="mm-text">{{'registercomplaint'|translate}}</span></a
            >
          </li>
        </ul>
      </li>
      <li
        id="li8"
        *ngIf="is_net_metering"
        [ngClass]="{ openDropdown: currentUrl == '/net-metering' }"
        (click)="removeCss($event)"
      >
        <a class="" routerLink="/net-metering">
          <div class="menu-icons i-consumptions"></div>
          <span class="mm-text" id="8">{{'netmetering' | translate}}</span>
        </a>
      </li>
      <li
        id="li9"
        [ngClass]="{ openDropdown: currentUrl == '/tou' }"
        (click)="removeCss($event)"
      >
        <a class="" routerLink="/tou">
          <div class="menu-icons i-tou"></div>
          <span class="mm-text" id="9">{{'tou' | translate}}</span>
        </a>
      </li>
      <!-- {{currentUrl}} -->
      <li
        id="li10"
        [ngClass]="{ openDropdown: currentUrl == '/notifications' }"
        (click)="removeCss($event)"
      >
        <a class="" routerLink="/notifications">
          <div class="menu-icons i-notifications"></div>
          <span class="mm-text" id="10">{{'notifications' | translate}}</span>
        </a>
      </li>
      <li
        id="li11"
        [ngClass]="{ openDropdown: currentUrl == '/consumption-estimator' }"
        (click)="removeCss($event)"
      >
        <a class="" routerLink="/consumption-estimator">
          <div class="menu-icons i-consumptions"></div>
          <span class="mm-text" id="11">{{'consumptionestimator' | translate}}</span>
        </a>
      </li>
      <li id="li12" [ngClass]="{ openDropdown: currentUrl == '/reset-password' }"
      (click)="removeCss($event)">
        <a routerLink="/reset-password">
          <div class="menu-icons i-settings"></div>
            <span class="mm-text" id="12">{{'Reset Password'|translate}}</span>
        </a>
      </li>
     <!--Changes By chandni-->
      <li id="li13" [ngClass]="{ openDropdown: currentUrl == '/logout' }"
      (click)="removeCss($event)">
        <a href="JavaScript:Void(#);" (click)="logout()">
            <div class="menu-icons i-logout"></div>
            <span class="mm-text" id="13">{{'logout' | translate}}</span>
        </a>
      </li>

    </ul>
  </div>
</div>
