<footer class="main-footer">
		<div class="footer-container">
		   <ul class="navigation-ul">
			  <li class="title-heading">Navigation</li>
			  <li>
				 <a routerLink="" routerLinkActive="footer-menu-active" [routerLinkActiveOptions]="{exact: true}">Home</a>
			  </li>
			  <li>
				 <a  routerLink="/sitemap"  routerLinkActive="footer-menu-active" [routerLinkActiveOptions]="{exact: true}">Site Map</a>
			  </li>
			  <li>
				 <a >Consumption</a>
			  </li>
			  <li>
				 <a  routerLink="/settings"  routerLinkActive="footer-menu-active" [routerLinkActiveOptions]="{exact: true}">Settings</a>
			  </li>
		   </ul>
		   <ul class="link-ul">
			  <li class="title-heading">links</li>
			  <li>
				<a  routerLink="/new-connection"  routerLinkActive="footer-menu-active" [routerLinkActiveOptions]="{exact: true}">New Connection</a>
			 </li>
			 <li>
				<a  routerLink="/usage"  routerLinkActive="footer-menu-active" [routerLinkActiveOptions]="{exact: true}">Usage</a>
			 </li>
			 <li>
				<a routerLink="/news-media"  routerLinkActive="footer-menu-active" [routerLinkActiveOptions]="{exact: true}">News / Media</a>
			 </li>
		   </ul>
		   <ul class="help-ul">
			  <li class="title-heading">Help & support</li>
			  <li>
				 
				<a  routerLink="/contact-us"  routerLinkActive="active-menu">Contact</a> 
			 </li>
			 <li>
				<a  routerLink="/faqs"  routerLinkActive="active-menu">FAQs</a>
			 </li>
			 <li>
				<a  routerLink="/help"  routerLinkActive="active-menu">Help</a>
			 </li>
			 <!-- <li>
				<a  routerLink="/customers-service"  routerLinkActive="active-menu">Customers Service</a>
			 </li> -->
		   </ul>
		   <ul class="need-help-ul">
			  <li class="title-heading">Need Help?</li>
			  <form  class="form top-label-form" >
				  <!-- [formGroup]="need_help" -->
			  <li>
				 <textarea name="" rows="3" placeholder="Start type here for service, support, billing, consumption and complaints."></textarea>
			  </li>
			  <li>
				 <button class="btn btn-primary submit-btn">Submit</button>
				
				 <div class="btn-group">
					<button type="button" class="btn facebook"><i class="menu-icon fa fa-facebook"></i></button>
					<button type="button" class="btn twitter"><i class="menu-icon fa fa-twitter"></i></button>
					<button type="button" class="btn google-plus"><i class="menu-icon fa fa-google-plus"></i></button>
				 </div>
			  </li>
			</form>
		   </ul>
		</div>
	 </footer>