<div id="main-wrapper">
  <app-header></app-header>
  <app-side-bar [displayUserInfo]="dispString"></app-side-bar>
  <div id="content-wrapper">
    <div class="page-heading">complaints</div>
    <div class="billing-sec complaints-page">
      <div class="row margin_top20">
        <div class="col-sm-12">
            <div class="service-box" *ngIf="showTrackingNo == true">
                <div class="panel-body">
                  <div class="title">Complaint registration</div>
                  <div class="req-success-msg">
                    Thank You For Registering Your Complaint.
                  </div>
                  <div class="req-number">
                    Your complaint no. is: <span>{{ trackingNo }}</span>
                  </div>
                  <div class="team-contact">Our Team Will Contact You Shortly.</div>
                  <div class="text-center padding_top50">
                    Page will be redirect automatically after 30 second.
                  </div>
                </div>
              </div>
          <div class="panel-body" *ngIf="showTrackingNo == false">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 profile-right-content padding_top50">
                <form class="form top-label-form" [formGroup]="complaintsFrm" (ngSubmit)="submitComplaintFrm()">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group" >
                        <label>Account Number*</label>
                        <select  required *ngIf="!userAccountsLoder && userAccounts.length > 0" formControlName="accountNumber" name="accountNumber" class="form-control">
                          <option value="" selected>Select Account Number</option>
                          <option value="{{user.account_number}}" *ngFor="let user of userAccounts">{{user.account_number}}</option>
                        </select> 
                        <div *ngIf="userAccountsLoder">Loding...</div>
                        <div *ngIf="(f.accountNumber.invalid && complaintsFrm.submitted) || (f.accountNumber.touched && f.accountNumber.invalid)">
                          <span class="error-msg" *ngIf="f.accountNumber.errors?.required">Account Number is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group">
                       <!--  {{complaintCaseTypes }} -->
                        <label>Case Type*</label>
                        <select *ngIf="!complaintCaseTypeLoder && complaintCaseTypes.length > 0" required formControlName="caseType" name="caseType" class="form-control" (change)="initComplaintsFrm(complaintsFrm.value.caseType)">
                          <option value="" selected>Select Case Type</option>
                          <option value="{{complaintCaseType.case_type}}" *ngFor="let complaintCaseType of complaintCaseTypes">{{complaintCaseType.case_type}}</option>
                        </select>
                        <select *ngIf="!complaintCaseTypeLoder && complaintCaseTypes.length == 0" required formControlName="caseType" name="caseType" class="form-control" (change)="initComplaintsFrm(complaintsFrm.value.caseType)">
                            <option value="" selected>Select Case Type</option>
                          </select>
                        <div *ngIf="complaintCaseTypeLoder">Loding...</div>
                        <div *ngIf="f.caseType.touched && f.caseType.invalid ">
                          <span class="error-msg" *ngIf="f.caseType.errors?.required">Case Type is required.</span>
                        </div>
                      </div>
                    </div>
                    <!-- {{billingData|json}} -->
                    <div class="col-xs-12" *ngIf="complaintsFrm.value.caseType == 'Bill Related'">
                      <div class="form-group">
                        <label>Bill Id*</label>
                        <select  required *ngIf="billingDataLoder == false && isbillingDataFound == true" formControlName="billId" name="billId" class="form-control">
                          <option value="" selected>Select Bill Id</option>
                          <option value="{{bill.receipt_no}}" *ngFor="let bill of billingData">{{bill.receipt_no}} ({{bill.meter_reading_date | date: "MMMM"}})</option>
                        </select>
                        <select  required *ngIf="billingDataLoder == false && isbillingDataFound == false" formControlName="billId" name="billId" class="form-control">
                            <option value="" selected>Select Bill Id</option>
                          </select>
                        <div *ngIf="billingDataLoder">Loding...</div>
                        <div *ngIf="f.billId.touched && f.billId.invalid ">
                          <span class="error-msg" *ngIf="f.billId.errors?.required">Bill Id is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12"  *ngIf="complaintsFrm.value.caseType == 'Bill Related'">
                      <div class="form-group">
                        <label>Reason*</label>
                        <select *ngIf="!complaintBillRelatedReasonLoder && complaintBillRelatedReasons.length > 0"  required formControlName="reason" name="reason" class="form-control">
                          <option value="" selected>Select Reason</option>
                          <option value="{{complaintBillRelatedReason.reason}}" *ngFor="let complaintBillRelatedReason of complaintBillRelatedReasons">{{complaintBillRelatedReason.reason}}</option>
                        </select>
                        <div *ngIf="complaintBillRelatedReasonLoder">Loding...</div>
                        <div *ngIf="f.reason.touched && f.reason.invalid ">
                          <span class="error-msg" *ngIf="f.reason.errors?.required">Reason is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12" *ngIf="complaintsFrm.value.caseType == 'Supply Related'">
                      <div class="form-group">
                        <label>Service Request*</label>
                        <select *ngIf="!complaintSupplyServiceRequestLoder && complaintSupplyServiceRequests.length > 0" required formControlName="serviceRequest" name="serviceRequest" class="form-control">
                          <option value="" selected>Select Request</option>
                          <option value="{{complaintSupplyServiceRequest.service_request}}" *ngFor="let complaintSupplyServiceRequest of complaintSupplyServiceRequests">{{complaintSupplyServiceRequest.service_request}}</option>
                        </select>
                        <div *ngIf="complaintSupplyServiceRequestLoder">Loding...</div>
                        <div *ngIf="f.serviceRequest.touched && f.serviceRequest.invalid ">
                          <span class="error-msg" *ngIf="f.serviceRequest.errors?.required">Service Request is required.</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12" *ngIf="complaintsFrm.value.caseType == 'Supply Related'">
                      <div class="form-group">
                        <label>Problem*</label>
                            <select *ngIf="!complaintSupplyProblemLoder && complaintSupplyProblems.length > 0" required formControlName="problem" name="problem" class="form-control">
                              <option value="" selected>Select Problem</option>
                              <option  value="{{complaintSupplyProblem.problems}}" *ngFor="let complaintSupplyProblem of complaintSupplyProblems">{{complaintSupplyProblem.problems}}</option>
                            </select>
                        <div *ngIf="f.problem.touched && f.problem.invalid ">
                          <span class="error-msg" *ngIf="f.problem.errors?.required">Problem is required.</span>
                        </div>
                      </div>
                    </div> 
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Comments*</label>
                        <textarea
                        required
                          formControlName="comments" 
                          name="comments"
                          class="form-control"
                          name=""
                          id=""
                          rows="4"
                          placeholder="Add comments here"
                        ></textarea>
                        <div *ngIf="(f.comments.touched && f.comments.invalid) || (f.comments.invalid && complaintsFrm.submitted)">
                          <span class="error-msg" *ngIf="f.comments.errors?.required">Comments is required.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center no-margin-b" [ngClass]="{'pos-rel': submitComplaingLoder}">
                        <div class="spinner"  *ngIf="submitComplaingLoder" style="top: 80%;">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                        </div>
                        <button
                        [disabled]="submitComplaingLoder == true"
                          class="btn btn-primary submit-btn full-btn"
                          type="submit"
                        >
                          submit
                        </button>
                      </div>
                     <!--  {{complaintsFrm | json}} -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" margin_top20">
        <div class="electricity-consumption-box">
          <img src="../assets/images/electricity-icon.png" /> Your last month consumption
          is <span>3250</span> units. Learn tips how to save electricity.
          <a href="#">Read more <img src="../assets/images/read-more-icon.png"/></a>
        </div>
      </div>
      <ul class="dash-box-list">
        <li class="dash-box-li rows offer-li no-padding">
          <div class="offer-section">
            <div class="offer-content">
              <img src="../assets/images/offer-icon.png" alt="" />
              <div class="text-content">
                We have a lot more to <a href="#">OFFER</a>. Choose from a wide
                range of products
              </div>
              <a class="blue-btn" href="#">Explore</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div id="main-menu-bg"></div>
  </div>
  <app-footer></app-footer>
</div>
