<div id="main-wrapper" class="no-sidebar">
  	<app-header></app-header>
	  <div id="content-wrapper">
		<div class="page-heading pdl-0">
				Downloads
		</div>
    <div class="billing-sec margin_top20 padding_bottom10 no-padding-l no-padding-r">
      <div class="panel-body download-panel">
        <div class="row">
          <div class="col-sm-6">
            <div class="download-list-box">
              <div class="header">
                Madhyanchal Vidyut Vitaran Nigam Limited - Application Forms
              </div>
              <div class="content-body">
                <ul>
                  <li>
                    <a href="">Requisition of Supply Of Energy</a>
                  </li>
                  <li>
                    <a href="">Disconnection</a>
                  </li>
                  <li>
                    <a href="">Requisition of Temporary Supply of Energy</a>
                  </li>
                  <li>
                    <a href="">Enhancement / Reduction of Contract Demand</a>
                  </li>
                  <li>
                    <a href="">Change of Category</a>
                  </li>
                  <li>
                    <a href="">Transfer of connection / mutation of name</a>
                  </li>
                  <li>
                    <a href="">Meter Related Complaints or Testing of Meter</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="download-list-box">
              <div class="header">
                Pashchimanchal Vidyut Vitaran Nigam Limited - Application Forms
              </div>
              <div class="content-body">
                <ul>
                  <li>
                    <a href="">Requisition of Supply Of Energy</a>
                  </li>
                  <li>
                    <a href="">Disconnection</a>
                  </li>
                  <li>
                    <a href="">Requisition of Temporary Supply of Energy</a>
                  </li>
                  <li>
                    <a href="">Enhancement / Reduction of Contract Demand</a>
                  </li>
                  <li>
                    <a href="">Change of Category</a>
                  </li>
                  <li>
                    <a href="">Transfer of connection / mutation of name</a>
                  </li>
                  <li>
                    <a href="">Meter Related Complaints or Testing of Meter</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="download-list-box">
              <div class="header">
                Dakshinanchal Vidyut Vitaran Nigam Limited - Application Forms
              </div>
              <div class="content-body">
                <ul>
                  <li>
                    <a href="">Requisition of Supply Of Energy</a>
                  </li>
                  <li>
                    <a href="">Disconnection</a>
                  </li>
                  <li>
                    <a href="">Requisition of Temporary Supply of Energy</a>
                  </li>
                  <li>
                    <a href="">Enhancement / Reduction of Contract Demand</a>
                  </li>
                  <li>
                    <a href="">Change of Category</a>
                  </li>
                  <li>
                    <a href="">Transfer of connection / mutation of name</a>
                  </li>
                  <li>
                    <a href="">Meter Related Complaints or Testing of Meter</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="download-list-box">
              <div class="header">
                Purvanchal Vidyut Vitaran Nigam Limited - Application Forms
              </div>
              <div class="content-body">
                <ul>
                  <li>
                    <a href="">Requisition of Supply Of Energy</a>
                  </li>
                  <li>
                    <a href="">Disconnection</a>
                  </li>
                  <li>
                    <a href="">Requisition of Temporary Supply of Energy</a>
                  </li>
                  <li>
                    <a href="">Enhancement / Reduction of Contract Demand</a>
                  </li>
                  <li>
                    <a href="">Change of Category</a>
                  </li>
                  <li>
                    <a href="">Transfer of connection / mutation of name</a>
                  </li>
                  <li>
                    <a href="">Meter Related Complaints or Testing of Meter</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
 <app-footer></app-footer>