<div id="main-wrapper" class="no-sidebar">
  	<app-header></app-header>
	<div class="main-container-sec">
		<div class="container">
			<div class="download-banner inner-page-banner">
				<img src="assets/images/download-links-bannar.jpg" alt="">
			</div>
			<div class="row">
				<div class="col-sm-9">
					<div class="link-listing">
						<div class="title">
							Important links
						</div>
						<ul class="imp-link-ul">
							<li><a href="#">Request for new Identity Card. <br>Proforma for Updation of HR details for PSTCL employees.</a></li>
							<li><a href="#">HR Data Form</a></li>
							<li><a href="#">HRA and Loda Form</a></li>
							<li><a href="#">ACR Forms</a></li>
							<li>
								<div class="dd-list">
									<a href="#">i) Performa for new/renewal of Digital Signatures.</a>
									<a href="#">ii) Letter for Verification.</a>
									<a href="#">(iii) Instructions.</a>
								</div>
							</li>
							<li><a href="#">Final Management Information Report Template-FY 2013-14.</a></li>
							<li><a href="#">Earned Leave Form</a></li>
							<li><a href="#">Form for Property Return</a></li>
							<li><a href="#">Medical Reimbursement Form</a></li>
							<li><a href="#">Property Purchase Permission Form</a></li>
							<li><a href="#">GPF (Final Payment, Nomination & Affidavit)</a></li>
						</ul>
					</div>
					<ul class="pagination lti-pagination">
		              <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
		              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		              <li><a href="#">2</a></li>
		              <li><a href="#">3</a></li>
		              <li><a href="#">4</a></li>
		              <li><a href="#">5</a></li>
		              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
		            </ul>
				</div>
				<div class="col-sm-3 download-right">
					<div class="add-box">
						<img src="assets/images/syska-add-img.jpg" alt="">
					</div>
					<div class="add-box">
						<img src="assets/images/syska-add-img.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="important-links">
				<div class="title">
					Important Links
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="owl-carousel owl-theme important-links-slide">
						    <div class="item">
						    	<a class="item-link" href="#">
						    		<span><i class="fa fa-mobile"></i></span>
						    		<div class="title-link">Mobile Registration</div>
						    	</a>
						    </div>
						    <div class="item">
						    	<a class="item-link" href="#">
						    		<span><i class="fa fa-globe"></i></span>
						    		<div class="title-link">Website Directory</div>
						    	</a>
						    </div>
						    <div class="item">
						    	<a class="item-link" href="#">
						    		<span><i class="fa fa-user"></i></span>
						    		<div class="title-link">Contacts Directory</div>
						    	</a>
						    </div>
						    <div class="item">
						    	<a class="item-link" href="#">
						    		<span><i class="fa fa-android"></i></span>
						    		<div class="title-link">Android App</div>
						    	</a>
						    </div>
						    <div class="item">
						    	<a class="item-link" href="#">
						    		<span><i class="fa fa-apple"></i></span>
						    		<div class="title-link">iOS App</div>
						    	</a>
							</div>
							<div class="item">
									<a class="item-link" href="#">
										<span><i class="fa fa-apple"></i></span>
										<div class="title-link">iOS App</div>
									</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="energy-conservation">
            	<div class="content">Energy conservation, a key to sustainable development</div> <a href="" class="pull-right">View more <img src="assets/images/blue-right-arrow.png" alt=""></a>
            </div>
		</div>
		<div class="disclaimer-sec">
			<div class="container">
				<div class="title">Disclaimer</div>
				<div class="decl-text">
					While every care has been taken to ensure the accuracy of information furnished in this website, TANGEDCO does not accept any responsibility or liability for any damage or loss caused to any person as a result of any action taken on the basis of this information. However, TANGEDCO shall be obliged if errors / omissions are brought to its notice for carrying out corrections in the next update.
				</div>
			</div>
		</div>
	</div>
</div>
 <app-footer></app-footer>