<div class="disclaimer-sec">
  <div class="container">
    <div class="title">Disclaimer</div>
    <div class="decl-text">
      While every care has been taken to ensure the accuracy of information furnished in this website, UPPCL does not accept any responsibility or liability for any damage or loss caused to any person as a result of any action taken on the basis of this information. However, UPPCL shall be obliged if errors / omissions are brought to its notice for carrying out corrections in the next update.
    </div>
  </div>
</div>