.tou-label{
    padding: 0;
    margin: 5px 0 0;
    list-style: none;
    text-align: center;
}
.tou-label li{
    padding: 0;
    margin: 0 10px 0;
    list-style: none;
    display: inline-block;
}
.tou-label li .color-box{
width: 16px;
height: 10px;
display:inline-block;
margin-right: 5px;
}