<div id="main-wrapper">
    <app-header></app-header>
    <app-side-bar></app-side-bar>
  	<div id="content-wrapper">
		<div class="page-heading">
			Add account
		</div>
		<div class="billing-sec profile-page profile-update-page">
			<div class="row margin_top20">
				<div class="col-sm-12">
					<div class="panel-body">
						<div class="profile-right-content add-account">
							<form class="form padding_right15">
								<div class="row">
									<div class="col-lg-4 col-md-5 col-sm-7">
										<div class="form-group">
											<input type="text" name="" class="form-control" placeholder="Account No.">
										</div>	
										<div class="form-group">
											<input type="text" name="" class="form-control" placeholder="Bill No.">
										</div>
										<div class="form-group">
											<input type="text" name="" class="form-control" placeholder="Email">
										</div>
										<div class="form-group">
											<div class="inputBtnSection addfileUpload">
												<label class="" style="">
													<input type="file" name="" class="upload" id="">
													<span class="uploadBtn"><i class="fa fa-upload"></i>Profile Upload</span>
												</label>
											</div>
										</div>	
										<div class="form-group">
											<button class="btn btn-primary submit-btn">Submit</button>
										</div>		
									</div>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>
			<ul class="dash-box-list">
				<li class="dash-box-li rows offer-li no-padding">
					<div class="offer-section">
						<div class="offer-content">
							<img src="assets/images/offer-icon.png" alt="">
							<div class="text-content">We have a lot more to <a href="#">OFFER</a>. Choose from a wide range of products</div>
							<a class="blue-btn" href="#">Explore</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div id="main-menu-bg"></div>
	</div> 
</div>
<app-footer></app-footer>