<div id="main-wrapper" class="no-sidebar">
  <app-header></app-header>
  
		<div class="main-container-sec">
			<div class="container">
				<div class="tips-banner inner-page-banner">
					<img src="assets/images/energy-tips-bg.jpg" alt="">
					<div class="content">
						Changing The <span>Power</span> <br>That Changes The World
					</div>
				</div>
				<div class="about-text-sec">
					<div class="title">
						What Is Energy Tips?
					</div>
					<div class="text-p">
						Energy conservation is the decision and practice of using less energy. Turning off the light when you leave the room, unplugging appliances<br> when they’re not in use and walking instead of driving are all examples of energy conservation. The two main reasons people <br> conserve energy are to gain more control over their energy bill and reduce the demand on the earth’s natural resources.
					</div>
				</div>
			</div>
			<div class="rewarding-energy">
				<div class="container">
					<div class="rewarding-table">
						<div class="rewarding-table-cell rewarding-table-right">
							<div class="right-sec">
								<img src="assets/images/r-energy.jpg" alt="">
							</div>
						</div>
						<div class="rewarding-table-cell rewarding-table-left">
							<div class="left-sec">
								<div class="title-h">
									Rewarding Energy Conservation In Your Home
								</div>
								<div class="para-p">
									When you’re taking steps toward energy conservation and efficiency, changing your daily energy habits is key to managing your energy usage. Being aware of cues (like feeling cold) can help you focus on a new, rewarding habit (grabbing a blanket instead of raising the thermostat).
								</div>
								<div class="para-p">
									Here’s another energy conservation idea — turn down the thermostat on your gas or electric water heater. Most traditional or energy-efficient water heaters are set to keep water heated to 140 degrees Fahrenheit, but water at 120 degrees works just as well
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="energy-tips-ideas">
				<div class="container">
					<div class="title">
					5 Energy Conservation Ideas
					</div>
					<div class="text-p">
						So why is it important to conserve energy? While energy efficiency might cost you money up front before potentially saving you money <br>down the road, energy conservation is something you can put into practice immediately, either at very little or no cost to you. Here are <br>10 energy conservation ideas you can get started with today.
					</div>
					<ul class="tips-listing">
						<li>
							<div class="box">
								<div class="title">
									1. Energy Tips
								</div>
								<div class="text">
									Refrigerators account for as much as 13.7% of the total household energy use. To increase energy savings, set your fridge to 37 degrees Fahrenheit and your freezer to 3 degrees Fahrenheit.
								</div>
							</div>
						</li>
						<li>
							<div class="box">
								<div class="title">
									2. Use energy-efficient light bulbs
								</div>
								<div class="text">
									Install energy-saving CFL or LED bulbs in your lighting fixtures to use 25-35 percent less energy, compared to regular incandescent bulbs.
								</div>
							</div>
						</li>
						<li>
							<div class="box">
								<div class="title">
									3. Clean or replace air filters
								</div>
								<div class="text">
									The air conditioner and heater are the biggest energy users in most homes, and these appliances have to work even harder with dirty air filters. Write the date of installation on the filter to help you remember when it needs to be replaced.
								</div>
							</div>
						</li>
						<li>
							<div class="box">
								<div class="title">
									4. Do full loads
								</div>
								<div class="text">
									Make sure your dishwasher and washing machine are full before running them to get the most energy-saving use from each run cycle.
								</div>
							</div>
						</li>
						<li>
							<div class="box">
								<div class="title">
									5. Use smart power strips
								</div>
								<div class="text">
									Even when not in use, household electronics still draw power from outlets. This phenomenon is called “phantom load”. Energy-saving smart power strips, which shut down appliances that have gone into standby mode, help you cut down on phantom-load costs, potentially resulting in money and energy savings.
								</div>
							</div>
						</li>
					</ul>
					<div class="important-links">
						<div class="title">
							Important Links
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="owl-carousel owl-theme important-links-slide">
								    <div class="item">
								    	<a class="item-link" href="#">
								    		<span><i class="fa fa-mobile"></i></span>
								    		<div class="title-link">Mobile Registration</div>
								    	</a>
								    </div>
								    <div class="item">
								    	<a class="item-link" href="#">
								    		<span><i class="fa fa-globe"></i></span>
								    		<div class="title-link">Website Directory</div>
								    	</a>
								    </div>
								    <div class="item">
								    	<a class="item-link" href="#">
								    		<span><i class="fa fa-user"></i></span>
								    		<div class="title-link">Contacts Directory</div>
								    	</a>
								    </div>
								    <div class="item">
								    	<a class="item-link" href="#">
								    		<span><i class="fa fa-android"></i></span>
								    		<div class="title-link">Android App</div>
								    	</a>
								    </div>
								    <div class="item">
								    	<a class="item-link" href="#">
								    		<span><i class="fa fa-apple"></i></span>
								    		<div class="title-link">iOS App</div>
								    	</a>
									</div>
									<div class="item">
										<a class="item-link" href="#">
											<span><i class="fa fa-apple"></i></span>
											<div class="title-link">iOS App</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
		            <div class="energy-conservation">
		            	<div class="content">Energy conservation, a key to sustainable development</div> <a href="" class="pull-right">View more <img src="assets/images/blue-right-arrow.png" alt=""></a>
		            </div>
				</div>
			</div>
			<div class="disclaimer-sec no-margin-t">
				<div class="container">
					<div class="title">Disclaimer</div>
					<div class="decl-text">
						While every care has been taken to ensure the accuracy of information furnished in this website, TANGEDCO does not accept any responsibility or liability for any damage or loss caused to any person as a result of any action taken on the basis of this information. However, TANGEDCO shall be obliged if errors / omissions are brought to its notice for carrying out corrections in the next update.
					</div>
				</div>
			</div>
		</div>
 </div>
 <app-footer></app-footer>