<div id="main-wrapper">
  <app-header></app-header>
  <app-side-bar [displayUserInfo]="dispString"></app-side-bar>
  <div id="content-wrapper">
    <!--
      <div class="page-heading">
         Good Morning Mr. Shukla
      </div>
    -->
    <ul class="dash-box-list">
      <li class="dash-box-li width-9">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4 border-divider">
              <div class="">
                <div class="box-title max-content-title title-min-height">
                  <span class="title-icon"
                    ><img src="assets/images/bill-icon.png" alt=""
                  /></span>
                  <div class="text-title">YESTERDAY'S CONSUMPTION</div>
                </div>

                <div *ngIf="!yesterDayConsumptionLoder" class="amount">
                  {{ yesterdayReading }}&nbsp;<span>KWH</span>
                </div>
                <div
                  class="rows"
                  style="margin-top: 31px; position: relative;"
                  *ngIf="yesterDayConsumptionLoder"
                >
                  <div class="spinner box-spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 border-divider">
              <div class="rows">
                <div class="box-title max-content-title title-min-height">
                  <span class="title-icon"
                    ><img src="assets/images/bill-icon.png" alt=""
                  /></span>
                  <div class="text-title">
                    Cumulative Consumption ({{ currentYear }})
                  </div>
                </div>
                <div class="amount" *ngIf="!yesterDayConsumptionLoder">
                  {{ yetToDateReading }}&nbsp;<span>KWH</span>
                </div>
                <div
                  class="rows"
                  style="margin-top: 31px; position: relative;"
                  *ngIf="yesterDayConsumptionLoder"
                >
                  <div class="spinner box-spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-title max-content-title title-min-height">
                <span class="title-icon"
                  ><img src="assets/images/bill-icon.png" alt=""
                /></span>
                <div class="text-title">Current Meter Reading</div>
              </div>

              <div class="amount cmr-amount">
                {{ onDemandReadData | number: "3.2" }}
                <span *ngIf="onDemandReadData != ''">KWH</span> &nbsp;

                <a
                  *ngIf="onDemandReadLoder == false && showGetReadButton == true"
                  (click)="getOnDemandRead()"
                  style="cursor:pointer;"
                  class="blue-btn pay-now-btn"
                  >Get Read</a>
                  
                  <a class="cmr-refresh" 
                  *ngIf="onDemandReadLoder == false && showGetReadButton == false"
                  (click)="getOnDemandRead()"
                  style="cursor:pointer;"
                  ><img width="20" src="assets/images/refresh.png" /></a>
                <div class="rows" *ngIf="onDemandReadLoder">
                  <div class="spinner_odr spinner box-spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div>
                <div
                  class="dashboardTimeStapm"
                  *ngIf="onDemandReadData != ''"
                >
                  {{ currentTime }}
                </div>
              </div>
            </div>
          </div>

          <div class="scroll-div" *ngIf="energyTipsFound == true">
            <ul>
              <li class="no-style">
                <div class="page-heading energy-title no-padding-l">
                  <img src="assets/images/energy-icon1.png" /> &nbsp;energy tips
                </div>
              </li>
              <li *ngFor="let tips of energyTips">{{ tips.content }}</li>
              <!--
                <li>
                  Preheat combustion air with waste heat (22 <sup>0</sup>C
                  reduction in flue gas temperature increases boiler efficiency by
                  1%).
                </li>
              -->
              <!--
                <li>
                  Use variable speed drives on large boiler combustion air fans
                  with variable flows.
                </li>
              -->
              <!--
                <li>Burn wastes if permitted.</li>
                <li>Insulate exposed heated oil tanks.</li>
                <li>Clean burners, nozzles, strainers, etc.</li>
                <li>Inspect oil heaters for proper oil temperature.</li>
                <li>
                  Close burner air and/or stack dampers when the burner is off to
                  minimize heat loss up the stack.
                </li>
              -->
            </ul>
          </div>
        </div>
      </li>
      <li class="dash-box-li width-3">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="scroll-div no-border">
                <div class="box-title">
                  <span class="title-icon"
                    ><img src="assets/images/notification-icon-white.png" alt=""
                  /></span>
                  <div class="text-title">alert & notifications</div>
                </div>
                <ul class="notification-listing">
                  <li>
                    <img src="assets/images/rupee-icon-hover.png" alt="" />
                    <div>
                      Your account 823749 bill due on 19 Sep. 2018
                      <a class="blue-btn pay-now-btn" href="#">Pay Now</a>
                    </div>
                  </li>
                  <li>
                    <img src="assets/images/power-icon.png" alt="" />
                    <div>Power voltage in your area on 23 Sep. 2018</div>
                  </li>
                  <li>
                    <img src="assets/images/save-icon.png" alt="" />
                    <div>
                      Tips on how to save energy and help have the world
                    </div>
                  </li>
                  <li>
                    <img src="assets/images/loud-icon.png" alt="" />
                    <div>
                      Your service request status for load change has been
                      accepted.
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="dash-box-list">
      <!--
        <div class="page-heading">
           POWER CONSUMPTION SUMMARY
        </div>
      -->
      <li class="dash-box-li">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="chart-box">
                <div class="box-title">
                  <span class="title-icon"
                    ><img src="assets/images/usage-icon.png" alt=""
                  /></span>
                  <div class="text-title">
                    YOUR CONSUMPTION - LAST 12 MONTHs
                  </div>
                  <!--
                    <div class="dropdown pull-right lti-ddl">
                       <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Yearly
                       <span class="caret"></span></button>
                       <ul class="dropdown-menu">
                          <li><a href="#">Monthly</a></li>
                       </ul>
                    </div>
                  -->
                  <div class="pull-right lti-ddl">
                    <a
                      (click)="downloadGraphExcelConsumption()"
                      style="cursor: pointer;"
                      title="Download"
                    >
                      <div class="download-circle">
                        <img src="assets/images/download.png" />
                      </div>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="graph-container  modal-graph-label">
                      <div class="label-left">Units <span>(KWH)</span></div>
                      <canvas
                        baseChart
                        [chartType]="'bar'"
                        [datasets]="consumptionchartData"
                        [labels]="consumptionlabels"
                        [options]="consumptionchartOptions"
                        [legend]="true"
                        [colors]="consumptioncolors"
                        (chartClick)="goToConsoumption($event, 2)"
                      >
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center bottom-link">
            <div style="    position: relative;top: 9px;">
              Click on any bar above to view more details of respective month
            </div>
          </div>
        </div>
      </li>
      <li class="dash-box-li">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="chart-box">
                <div class="box-title">
                  <span class="title-icon"
                    ><img src="assets/images/chart-icon.png" alt=""
                  /></span>
                  <div class="text-title">Your BILLING - Last 12 Months</div>
                  <div class="pull-right lti-ddl">
                    <a
                      (click)="downloadGraphExcelBilling()"
                      style="cursor: pointer;"
                      title="Download"
                    >
                      <div class="download-circle">
                        <img src="assets/images/download.png" />
                      </div>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="graph-container modal-graph-label">
                      <div class="label-left">Units <span>(Rs)</span></div>
                      <canvas
                        baseChart
                        [chartType]="'bar'"
                        [datasets]="billingchartData"
                        [labels]="billinglabels"
                        [options]="billingchartOptions"
                        [legend]="true"
                        [colors]="billingcolors"
                        (chartClick)="goToBilling($event, 2)"
                      >
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center bottom-link">
            <div style="    position: relative;top: 9px;">
              Click on any bar above to view more details of respective month
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="consumer-account-basic-detail">
      <ul class="dash-box-list">
        <li class="dash-box-li">
          <div
            class="panel-body"
            [ngClass]="{ dashboardManageAccount: accountDetailsLoder == true }"
          >
            <div class="box-title margin_bottom10">
              <span class="title-icon">
                <img width="15" src="assets/images/account-info.svg" />
              </span>
              <div class="text-title">Account Information</div>
            </div>
            <div class="row">
              <div class="col-sm-12 ">
                <div
                  style="margin-top: 2;"
                  class="text-center font-12  field_not_found"
                  *ngIf="
                    AccountDetailsFound == false && accountDetailsLoder == false
                  "
                >
                  <img src="/assets/images/no_data.png" /> Currently no data
                  found for accounts. <br />
                  Please go to the manage account section and click on add
                  account button in order to verify and add your account or
                  contact . <br />
                </div>
                <table
                  class="table consumer-basic-table"
                  *ngIf="
                    AccountDetailsFound == true && accountDetailsLoder == false
                  "
                >
                  <tr>
                    <td style="width: 45%; padding: 0px 15px;">
                      <table width="100%">
                        <tr>
                          <th>Account Number</th>
                          <th *ngIf="accountData.account_number == ''">-</th>
                          <th *ngIf="accountData.account_number != ''">
                            {{ accountData.account_number }}
                          </th>
                        </tr>
                        <tr>
                          <th>Name</th>
                          <th *ngIf="accountData.account_name == ''">-</th>
                          <th *ngIf="accountData.account_name != ''">
                            {{ accountData.account_name }}
                          </th>
                        </tr>
                        <tr>
                          <th>Sanctioned Load</th>
                          <th *ngIf="accountData.sanctioned_load != ''">
                            {{ accountData.sanctioned_load }} KW
                          </th>
                          <th *ngIf="accountData.sanctioned_load == ''">-</th>
                        </tr>
                        <tr>
                          <th>Supply Type</th>
                          <th *ngIf="accountData.supply_type == ''">-</th>
                          <th *ngIf="accountData.supply_type != ''">
                            {{ accountData.supply_type }}
                          </th>
                        </tr>
                        <tr>
                          <th>Division</th>
                          <th *ngIf="accountData.division == null">-</th>
                          <th *ngIf="accountData.division != null">
                            {{ accountData.division }}
                          </th>
                        </tr>
                        <tr>
                          <th>Sub Division</th>
                          <th *ngIf="accountData.subdivision == null">-</th>
                          <th *ngIf="accountData.subdivision != null">
                            {{ accountData.subdivision }}
                          </th>
                        </tr>
                      </table>
                    </td>
                    <td
                      style="width: 55%; padding: 0px 15px 0 40px; border-left: 2px solid #f7ecec;"
                    >
                      <table width="100%">
                        <tr>
                          <th>Mobile Number</th>
                          <th *ngIf="accountData.mobile == ''">-</th>
                          <th *ngIf="accountData.mobile != ''">
                            {{ accountData.mobile }}
                          </th>
                        </tr>
                        <tr>
                          <th>Email ID</th>
                          <th *ngIf="accountData.email == ''">-</th>
                          <th *ngIf="accountData.email != ''">
                            {{ accountData.email }}
                          </th>
                        </tr>
                        <tr>
                          <th>Bill Route</th>
                          <th *ngIf="accountData.bill_route == null">-</th>
                          <th *ngIf="accountData.bill_route != null">
                            {{ accountData.bill_route }}
                          </th>
                        </tr>
                        <tr>
                          <th>Account Status</th>
                          <th *ngIf="accountData.status == ''">-</th>
                          <th *ngIf="accountData.status != ''">
                            <span *ngIf="accountData.status == 1">Active</span>
                            <span *ngIf="accountData.status != 1"
                              >Inactive</span
                            >
                          </th>
                        </tr>
                        <tr>
                          <th>Premise Address</th>
                          <th *ngIf="accountData.premise_address == ''">-</th>
                          <th *ngIf="accountData.premise_address != ''">
                            {{ accountData.premise_address }}
                          </th>
                        </tr>
                        <tr>
                          <th>Billing Address</th>
                          <th *ngIf="accountData.billing_address == ''">-</th>
                          <th *ngIf="accountData.billing_address != ''">
                            {{ accountData.billing_address }}
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="rows" *ngIf="accountDetailsLoder == true">
              <div class="spinner box-spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-12">
        
      <div
        class="billing-sec margin_top20 padding_bottom10 no-padding-l no-padding-r"
      >
        <div
          class="panel-body "
          [ngClass]="{ dashboardManageAccount: billingDataLoder == true }"
        >
        <div class="box-title margin_bottom10">
            <span class="title-icon">
              <img width="15" src="assets/images/billing-info.svg" />
            </span>
            <div class="text-title">Billing Information</div>
          </div>
          <div class="table-wrapper no-padding">
            <table
              class="fl-table tb-header table-fixed"
              *ngIf="isbillingDataFound == true && billingDataLoder == false"
             
            >
              <thead>
                <tr>
                  <th width="11%">Meter Reading Date</th>
                  <th width="11%">Reading <br/> 
                    <span style="font-size:11px;">(In KWH)</span></th>
                  <th width="11%">Consumption <br/>
                    <span style="font-size:11px;">(In KWH)</span></th>
                  <th width="11%">Number of Days</th>
                  <th width="10%">Total Bill Amount <br/><i class="fa fa-inr" aria-hidden="true"></i></th>
                  <th width="6%">Due Date</th>
                  <th width="10%">Bill Paid  <br/>
                    <i class="fa fa-inr" aria-hidden="true"></i></th>
                  <th width="10%">Receipt No.</th>
                  <th width="10%">Payment Date</th>
                  <th width="10%">Download</th>
                </tr>
              </thead>
              <!-- <perfect-scrollbar style="max-height: 400px;" [config]="scrollConfig"> -->
              <tbody class=""  *ngIf="isbillingDataFound == true && billingDataLoder == false">
                <tr *ngFor="let billing of billingData">
                  <td width="11%">
                    {{ billing.meter_reading_date | date: "dd/MM/yyyy" }}
                  </td>
                  <td width="11%">{{ billing.meter_reading }}</td>
                  <td width="11%">{{ billing.consumption_units }}</td>
                  <td width="11%">{{ billing.numberOfDays }}</td>
                  <td width="10%">
                    &nbsp;{{
                      billing.bill_amount
                    }}
                  </td>
                  <td width="6%">
                    {{ billing.due_date | date: "dd/MM/yyyy" }}
                  </td>
                  <td width="10%">
                    <span *ngIf="billing.bill_paid != ''">{{billing.bill_paid}}</span>
                        <span *ngIf="billing.bill_paid == ''">---</span>
                  </td>
                  <td width="10%">
                    <span *ngIf="billing.receipt_no != ''">{{
                      billing.receipt_no
                    }}</span
                    ><span *ngIf="billing.receipt_no == ''">---</span>
                  </td>
                  <td width="10%">
                    <span *ngIf="billing.payment_date != ''">{{
                      billing.payment_date | date: "dd/MM/yyyy"
                    }}</span
                    ><span *ngIf="billing.payment_date == ''">---</span>
                  </td>
                  <td width="10%">
                    <a
                      class="pdf-btn action-sm-btn"

                      data-toggle="tooltip"
                      data-placement="top"
                      (click)="downloadPDFfile(billing.billUrl)"
                      title="Download Bill PDF" style="cursor: pointer"
                      ><i class="fa fa-file-pdf-o" aria-hidden="true"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
           <!--  </perfect-scrollbar> -->
            </table>

            <div
              style="margin-top: 2;"
              class="text-center font-12  field_not_found"
              *ngIf="isbillingDataFound == false && billingDataLoder == false"
            >
              <img src="/assets/images/no_data.png" /> Currently no data found
              in billing section.
            </div>
          </div>
          <div class="rows" *ngIf="billingDataLoder == true">
            <div class="spinner box-spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="dash-box-list">
      <li class="dash-box-li track-complain">
        <div class="panel-body">
          <!-- Loder Section Starts Here -->
          <div class="rows" *ngIf="complaintsLoder == true">
            <div class="spinner box-spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
          <!-- Loder Section Ends Here -->

          <!-- Complaint section starts here -->

          <div class="row" *ngIf="complaintsLoder == false">
            <div class="col-sm-12">
              <div class="chart-box">
                <div class="box-title">
                  <span class="title-icon"
                    ><img src="assets/images/chart-icon.png" alt=""
                  /></span>
                  <div class="text-title">track a complaint</div>
                </div>
                <!-- If Complaints not found -->

                <div
                  class="text-center font-12  field_not_found"
                  *ngIf="complaintsFound == false"
                >
                  <img src="/assets/images/no_complaints.png" />You
                  don't have any complaint, You are happy with us..!!
                </div>

                <!-- Complaints not found Section Ends Here -->

                <!-- Complaint sections statrs here -->
                <div class="row" *ngIf="complaintsFound == true">
                  <div class="col-sm-12 text-center">
                    <div class="track-label">Complaint id</div>
                  </div>
                </div>
                <div class="row text-center" *ngIf="complaintsFound == true">
                  <div class="col-sm-8 col-sm-offset-2">
                    <input
                      type="text"
                      name=""
                      class="form-control btn btn-default margin_bottom10 dash-input"
                    />
                    <div class="text-center or-text">OR</div>
                    <select
                      class="form-control btn btn-default margin_bottom20 dash-input"
                    >
                      <option value="" selected>Select Tracking No.</option>
                      <option
                        *ngFor="let complaint of complaints"
                        value="{{complaint.tracking_number}}"
                        >{{ complaint.tracking_number }}</option
                      >
                    </select>
                    <a class="blue-btn" href="#">Track</a>
                  </div>
                </div>
                <!-- Complaint sections Endes here -->
              </div>
            </div>
          </div>
          <!-- Complaint section ends here -->
        </div>
      </li>
      <li class="dash-box-li track-complain">
        <div class="panel-body">
          <!-- Loder Section Starts Here -->
          <div class="rows" *ngIf="serviceRequestLoder == true">
            <div class="spinner box-spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
          <!-- Loder Section Ends Here -->
          <!-- Service request section starts here -->
          <div class="row" *ngIf="serviceRequestLoder == false">
            <div class="col-sm-12">
              <div class="chart-box">
                <div class="box-title">
                  <span class="title-icon"
                    ><img src="assets/images/chart-icon.png" alt=""
                  /></span>
                  <div class="text-title">track a service request</div>
                </div>
                <!-- If service request not found -->

                <div
                  class="text-center font-12  field_not_found"
                  *ngIf="ServiceRequestFound == false"
                >
                  <img src="/assets/images/no_data.png" />Currently no service
                  request found..!!
                </div>

                <!-- Service request not found Section Ends Here -->

                <div class="row" *ngIf="ServiceRequestFound == true">
                  <div class="col-sm-12 text-center">
                    <div class="track-label">service request id</div>
                  </div>
                </div>
                <div
                  class="row text-center"
                  *ngIf="ServiceRequestFound == true"
                >
                  <div class="col-sm-8 col-sm-offset-2">
                    <input
                      type="text"
                      name=""
                      class="form-control btn btn-default margin_bottom10 dash-input"
                    />
                    <div class="text-center or-text">OR</div>
                    <select
                      class="form-control btn btn-default margin_bottom20 dash-input"
                    >
                      <option value="" selected
                        >Select Service Request Tracking No.</option
                      >
                      <option
                        *ngFor="let ServiceRequest of ServiceRequests"
                        value="{{ServiceRequest.tracking_number}}"
                        >{{ ServiceRequest.tracking_number }}</option
                      >
                      <div *ngIf="serviceRequestLoder == true">Loding...</div>
                    </select>
                    <a class="blue-btn" href="#">Track</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Service request section ends here -->
        </div>
      </li>
    </ul>
    <ul class="dash-box-list">
      <li class="dash-box-li rows offer-li">
        <div class="offer-section">
          <div class="offer-content">
            <img src="assets/images/offer-icon.png" alt="" />
            <div class="text-content">
              We have a lot more to <a href="#">OFFER</a>. Choose from a wide
              range of products
            </div>
            <a class="blue-btn" href="#">Explore</a>
          </div>
        </div>
      </li>
    </ul>
    <div id="main-menu-bg"></div>
  </div>
</div>
