<div id="main-wrapper" class="pdl-0">
      <app-header></app-header>
    <!-- Download Section -->
	<div id="content-wrapper">
		<div class="page-heading pdl-0">
				Search
		</div>
    <div class="billing-sec margin_top20 padding_bottom10 no-padding-l no-padding-r">
      <div class="panel-body download-panel search-result-panel">
        <div class="row">
          <div class="col-sm-12">
          	<div class="page-heading search-result-heading">
				Search result for <strong>‘Billing’</strong>
			</div>
            <div class="download-list-box">
              <div class="header">
                Modules
              </div>
              <div class="content-body">
                <ul>
                  <li>
                    <a href="javascript:void(0);">Bill due date for this month is 29 Jan, 2019</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Billing address</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Billing</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Biling history</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="download-list-box">
              <div class="header">
                Content
              </div>
              <div class="content-body">
                <ul>
                  <li>
                    <a href="javascript:void(0);">Your billing - last 3 months is 2356 units</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Billing address - J-12, G2, Subhash Marg, C-Scheme Jaipur, 302 001 Rajasthan, India</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Tips on how to save energy and reduce the bill</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);">Your service request status for change billing address has been accepted</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

