
<div id="main-wrapper" class="no-sidebar">
		<app-header></app-header>
		<div class="main-container-sec">
		   <div class="row">
			  <div class="col-sm-12 col-md-9 no-padding-r">
				 <div class="main-slide-bar home-main-slider">
					<home-page-slider [content]="sliderContent"></home-page-slider>
				 </div>
			  </div>
			  <div class="col-sm-12 col-md-3 no-padding-l">
				 <div class="bannar-sidebar">
					<div class="latest-update">
					   <div class="box-title">
						  <span class="title-icon"><img src="../assets/images/bill-icon.png" alt=""></span>
						  <div class="text-title">latest updates</div>
					   </div>
					   <div class="marquee-slide">
						   <marquee behavior="scroll" direction="up" style="height: 100%">
							  <ul>
								 <li>The largest electric power  transmission utility in state sector  in India</li>
								 <li>660 EHV substations</li>
								 <li>46217.90 Ckt. kms of Transmission</li>
								 <li>123846.5 MVA Transformation capacity</li>
								 <li>5508 MVAR Reactive Power  Compensation</li>
								 <li>123846.5 MVA Transformation capacity</li>
							  </ul>
						   </marquee>
						</div>
					</div>
					<div class="c-m-message">
					   <div class="box-title">
						  <span class="title-icon"><img src="../assets/images/msg-icon.png" alt=""></span>
						  <div class="text-title">Chief Minister message</div>
					   </div>
					   <div class="msg-detail">
						  <div class="cm-img">
							 <img src="../assets/images/cm-img.jpg" alt="">
						  </div>
						  <div class="cm-msg-box">
							 <p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
							 </p>
							 <div class="cm-name">
								Mr. Yogi Adityanath
							 </div>
							 <div class="degination">
									Hon’ble Chief Minister Of Uttar Pradesh
							 </div>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		   <div class="mission-section">
			  <div class="row">
				 <div class="col-sm-4">
					<div class="mission-vision">
					   <img src="../assets/images/mission-img-2.jpg" alt="" class="image">
					   <div class="overlay">
						  <div class="title">
							 <img src="../assets/images/mission-icon.png" alt="">
							 our mission
						  </div>
						  <div class="text">
							 To make network development and investment plans for an Intra-state transmission system that is reliable, economical, develop best-in-class system study and system planning capacities within the organization.
							 <a href="#" class="konw-more-link">Know More</a>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-sm-4">
					<div class="mission-vision">
					   <img src="../assets/images/mission-img-1.jpg" alt="" class="image">
					   <div class="overlay">
						  <div class="title">
							 <img src="../assets/images/vission-icon.png" alt="">
							 our vision
						  </div>
						  <div class="text">
							 To make network development and investment plans for an Intra-state transmission system that is reliable, economical, develop best-in-class system study and system planning capacities within the organization.
							 <a href="#" class="konw-more-link">Know More</a>
						  </div>
					   </div>
					</div>
				 </div>
				 <div class="col-sm-4">
					<div class="mission-vision">
					   <img src="../assets/images/mission-img-3.jpg" alt="" class="image">
					   <div class="overlay">
						  <div class="title">
							 <img src="../assets/images/energy-icon.png" alt="">
							 Energy Tips
						  </div>
						  <div class="text">
							 To make network development and investment plans for an Intra-state transmission system that is reliable, economical, develop best-in-class system study and system planning capacities within the organization.
							 <a href="#" class="konw-more-link">Know More</a>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		   <div class="important-links">
			  <div class="title">
				 Important Links
			  </div>
			  <div class="row">
				 <div class="col-sm-10 col-sm-offset-1">
					<home-imp-link-slider ></home-imp-link-slider>
				 </div>
			  </div>
		   </div>
		</div>
	 </div>
	 <app-footer></app-footer>