
	<div id="main-wrapper">
		<app-header></app-header>
    <app-side-bar></app-side-bar>
		<div id="content-wrapper">
			<div class="page-heading">
				update profile
			</div>
			<div class="billing-sec profile-page profile-update-page">
				
					

				<div class="row margin_top20">
					<div class="col-sm-12">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-5">
											<div class="profile-image">
												<img src="assets/images/profile-img.jpg" alt="">
												<div class="inputBtnSection fileUpload">
													<label class="" style="">
														<input type="file" name="" class="upload" id="">
														<span class="uploadBtn"><i class="fa fa-pencil"></i></span>
													</label>
												</div>
											</div>
										</div>
										<div class="col-sm-7 profile-info">
											<div class="pro-name">Ravish Shukla</div>
											<div class="pro-account">Account No. <span>3864238424</span></div>
											<div class="text-center margin_top40"><a href="#" class="blue-btn pay-now-btn">Save Profile</a></div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 profile-right-content">
									<form class="form padding_right15 edit-profile">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group no-editable">
													<label>Name</label>
													<input type="text" name="" class="form-control" placeholder="" value="Ravish Shukla">
												</div>	
												<div class="form-group">
													<label>Mobile No.</label>
													<input type="text" name="" class="form-control" placeholder="">
												</div>		
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>Email</label>
													<input type="text" name="" class="form-control" placeholder="">
												</div>	
												<div class="form-group no-editable">
													<label>Address</label>
													<textarea class="form-control" name="" id="" rows="4" placeholder="" value="">
														J-12, G2, Subhash Marg, C-Scheme Jaipur,  302 001 Rajasthan, India
													</textarea>
												</div>		
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ul class="dash-box-list">
					<li class="dash-box-li rows offer-li no-padding">
						<div class="offer-section">
							<div class="offer-content">
								<img src="assets/images/offer-icon.png" alt="">
								<div class="text-content">We have a lot more to <a href="#">OFFER</a>. Choose from a wide range of products</div>
								<a class="blue-btn" href="#">Explore</a>
							</div>
						</div>
					</li>
				</ul>
			</div>

		<div id="main-menu-bg"></div>
  </div>
  <app-footer></app-footer> 	