<div class="owl-carousel owl-theme main-carousel">
	<div class="item" *ngFor="let sliderContent of content">
		<div class="item-box">
			<img src="{{sliderContent.image}}" alt="">
			<div class="slide-text"  [innerHTML]="sliderContent.desc"></div>
		</div>
	</div>
</div>
<div class="blue-tabs-sec">
		<ul class="menu-listing">
			<li (click)="redirecttocomplaints('pay-bill')">
				<a class="credit-card-icon" href="JavaScript:void(0);" >
					<div class="title" >{{"Pay online"|translate}}</div>
				</a>
			</li>
			<li (click)="redirecttocomplaints('complaints')">
				<a class="register-icon" href="JavaScript:void(0);" >
					<div class="title" >{{'Complaints'|translate}} <br>({{'register'|translate}} / {{'track'|translate}})</div>
				</a>
			</li>
			<li (click)="redirecttocomplaints('energy-tips')">
				<a class="bulb-icon" href="JavaScript:void(0);" >
					<div class="title">{{'Energy tips'|translate}}</div>
				</a>
			</li>
			<li (click)="redirecttocomplaints('track-service-request')">
				<a class="sevice-register-icon"  href="JavaScript:void(0);" >
					<div class="title" >{{"Service requests"|translate}} <br>(<!-- {{'register'|translate}} /  -->{{'track'|translate}})</div>
				</a>
			</li>
			<li>
				<a class="connection-icon" href="JavaScript:Void(0);">
					<div class="title">{{"New"|translate}} <br>{{"Connection" | translate}}</div>
				</a>
			</li>
		</ul>
	</div>