<div class="owl-carousel owl-theme main-carousel">
	<div class="item" *ngFor="let sliderContent of content">
		<div class="item-box">
			<img src="{{sliderContent.image}}" alt="">
			<div class="slide-text"  [innerHTML]="sliderContent.desc"></div>
		</div>
	</div>
</div>
<div class="blue-tabs-sec">
		<ul class="menu-listing">
			<li>
				<a class="credit-card-icon" href="JavaScript:Void(0);">
					<div class="title">{{"payonline"|translate}}</div>
				</a>
			</li>
			<li>
				<a class="register-icon" href="JavaScript:Void(0);">
					<div class="title" (click)="redirecttocomplaints('complaints')">{{'complaints'|translate}} <br>({{'register'|translate}} / {{'track'|translate}})</div>
				</a>
			</li>
			<li>
				<a class="bulb-icon" href="JavaScript:Void(0);">
					<div class="title">{{'energytips'|translate}}</div>
				</a>
			</li>
			<li>
				<a class="sevice-register-icon" href="JavaScript:Void(0);">
					<div class="title" (click)="redirecttocomplaints('track-service-request')">{{"servicerequests"|translate}} <br>(<!-- {{'register'|translate}} /  -->{{'track'|translate}})</div>
				</a>
			</li>
			<li>
				<a class="connection-icon" href="JavaScript:Void(0);">
					<div class="title">{{"new"|translate}} <br>{{"connection" | translate}}</div>
				</a>
			</li>
		</ul>
	</div>